# Maven
target/
*.jar
*.war
*.ear
.mvn/

# Node / Angular
node_modules/
dist/
.angular/

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Spring Boot
application-local.yml
application-local.properties

# Logs
*.log
logs/

# Windows metadata
*:Zone.Identifier
